{{define "footer"}}
    <footer class="py-5 bg-primary text-white">
        <div class="text-bg-primary py-3 text-center">
            <p>&copy; 2024 <a href="https://github.com/knif-knif/" class="text-reset"> knif-knif </a> </p>
        </div>
    </footer>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js"
            integrity="sha512-GWzVrcGlo0TxTRvz9ttioyYJ+Wwk9Ck0G81D+eO63BaqHaJ3YZX9wuqjwgfcV/MrB2PhaVX9DkYVhbFpStnqpQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>
{{end}}